camelot-py[cv]
fastapi
langchain
langchain-groq
langchain-openai
langgraph
langgraph-cli[inmem]
langgraph-checkpoint-mysql[aiomysql]
numpy
openai
opencv-python-headless
openpyxl
pandas
pdfplumber
Pillow
pydantic[email]==2.9.2
python-docx
python-dotenv
python-multipart
pypdfium2
pytesseract
PyPDF2
qdrant-client
sentence-transformers
tabulate
uvicorn
